.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  background: url("../dashboard/dataVisualize/images/Grid4.png") no-repeat #c1dcf1;
  background-position: center;
  background-size: 100% 100%;
  * {
    box-sizing: border-box;
  }
  .dataScreen-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    overflow: hidden;
    background: url("./images/bottom-bg.png") no-repeat bottom center;
    .dataScreen-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      .dataScreen-header {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-top: 10px;
        background: url("./images/dataScreen-header.png") no-repeat;
        background-position: top center;
        background-size: 100% auto;
        .header-ct-title {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 82px;
          font-family: YouSheBiaoTiHei;
          font-size: 32px;
          line-height: 78px;
          color: #05e8fe;
          text-align: center;
          letter-spacing: 4px;
        }
        .header-lf,
        .header-ri {
          position: relative;
          z-index: 10;
          font-size: 16px;
          line-height: 36px;
          color: #5a9be6;
          span {
            margin-right: 15px;
          }
        }
        .header-btn {
          display: flex;
          align-items: center;
          padding: 0 10px;
          margin-right: 20px;
          font-size: 14px;
          cursor: pointer;
          background-color: #cce0f4;
          border: 2px solid #ffffff;
          border-radius: 4px;
          box-shadow: 0 4px 4px #c2d3e6;
          span {
            margin: 0 0 0 5px;
          }
        }
      }
      .dataScreen-main {
        position: relative;
        z-index: 100;
        display: flex;
        flex: 1;
        justify-content: space-between;
        width: 100%;
        height: 50%;
        padding: 0 10px 10px;
        .dataScreen-lf {
          width: 40%;
          height: 100%;
          .dataScreen-top,
          .dataScreen-bottom {
            position: relative;
            width: 100%;
            height: 100%;
          }
        }
        .dataScreen-ct {
          width: 29%;
          height: 100%;
          .dataScreen-map {
            position: relative;
            box-sizing: border-box;
            flex: 1;
            width: 100%;
            padding-top: 20px;
            .dataScreen-map-item {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              height: 100%;
              padding: 10px;
              cursor: pointer;
              background: linear-gradient(to top, rgb(200 213 225 / 50%), rgb(230 243 255 / 40%));
              border-radius: 5px;
              &::before {
                position: absolute;
                inset: 2px;
                display: block;
                padding: 2px;
                content: "";
                background-image: linear-gradient(
                  to top,
                  rgb(189 205 228 / 30%) 0%,
                  rgb(197 214 231 / 30%) 70%,
                  rgb(218 234 248 / 30%) 100%
                );
                background-clip: padding-box;
                border-radius: 5px;
              }
              .dataScreen-map-value {
                font-family: YouSheBiaoTiHei;
                font-size: 54px;
                font-weight: bold;
              }
              .dataScreen-map-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                font-size: 24px;
                color: #ffffff;
                border-radius: 10px;
              }
            }
          }
          .dataScreen-cb {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding-top: 54px;
            background: url("./images/dataScreen-main-cb.png") no-repeat;
            background-size: 100% 100%;
          }
        }
        .dataScreen-rg {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 30%;
          height: 100%;
          .dataScreen-top,
          .dataScreen-bottom {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
          }
        }
        .dataScreen-main-title {
          position: relative;
          width: 100%;
          clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
          line-height: 35px;
          background: linear-gradient(to right, #c3d5e8 0%, #c5d6e7 45%, rgb(192 212 234 / 52%) 85%, rgb(192 212 234 / 0%) 100%);
          border: 2px solid;
          border-image: linear-gradient(to right, #e6f3ff, rgb(230 243 255 / 40%)) 1;
          box-shadow: 0 4px 4px 4px rgb(155 177 213 / 26%);
          &::before {
            position: absolute;
            top: 0;
            left: -2px;
            display: block;
            width: 100%;
            height: 100%;
            clip-path: polygon(5% 0, calc(5% + 3px) 0, 3px 100%, 0 100%);
            content: "";
            background-color: #e6f3ff;
          }
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            content: "";
            background: url("./images/Vector.png") no-repeat bottom left;
          }
          span {
            margin-bottom: 12px;
            font-family: YouSheBiaoTiHei;
            font-size: 18px;
            line-height: 16px;
            color: #1a2041;
            text-indent: 80px;
            letter-spacing: 1px;
          }
          img {
            margin: 0 10px 0 20px;
          }
        }
        .dataScreen-main-chart {
          position: relative;
          width: 100%;
          height: calc(100% - 40px);
          padding: 2px;
          background: linear-gradient(to top, #e6f3ff, rgb(230 243 255 / 40%));
          border-radius: 10px;
          &::before {
            position: absolute;
            inset: 2px;
            display: block;
            padding: 2px;
            content: "";
            background-image: linear-gradient(to top, #bdcde4 0%, #c5d6e7 70%, #daeaf8 100%);
            background-clip: padding-box;
            border-radius: 10px;
          }
        }
        .dataScreen-center-chart {
          width: 100%;
          height: calc(100% - 50px);
        }
      }
    }
  }
}
